:root {
  --branding-color: #FA4A0C; 
  --secondary-color: #252B42;
  --default-font-family: 'Montserrat', sans-serif;
  --heading-font-family: 'Poppins', sans-serif;
}

body {
  font-family: var(--default-font-family);
}
nav ul {
  margin: 50px 40px;
}
nav li {
  display: inline;
  margin-left: 94px;
  padding: 10px;
  list-style: none;
}
nav a {
  color: var(--secondary-color);
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 28px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
nav a:hover, nav li.active a {
  color: var(--branding-color);
}
nav .logo {
  margin: 25px 70px;
  padding: 0 20px;
  width: 200px;
}

.hero {
  color: #ffffff;
  text-align: center;
  background-image: url("../images/hero-background.png");
  background-repeat: no-repeat;
  background-size: 100% 620px;
  height: 620px;
}
.text-content {
  padding: 70px 0 50px;
}
.hero h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.hero h1 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  margin: 17px 0 27px;
}
.hero h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  margin: 0;
}
.hero .btn-branding, .hero .btn-branding-outline {
  border-radius: 30px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  padding: 16px 58px;
  transition: all 150ms ease-in-out;
}
.hero .btn-branding {
  background: var(--branding-color);
  box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
  margin-right: 34px; 
}
.hero .btn-branding:hover {
  background: var(--branding-color);
  color: var(--secondary-color);
}
.hero .btn-branding-outline {
  border: 1px solid #FFFFFF;
}
.hero .btn-branding-outline:hover {
  border: 1px solid #FFFFFF;
  color: var(--branding-color);
} 
.image-box {
  display: block;
}
.phone-image-1 {
  height: 880px;
  position: relative;
  bottom: 290px;
  left: 10px;
  z-index: 2;
}
.phone-image-2 {
  height: 530px;
  position: relative;
  bottom: 240px;
  right: 240px;
  z-index: 1;
}



.content-box hr {
  border: 3px solid #E4E4E4;
  margin: 0 auto;
  width: 884px;
}
