:root {
  --branding-color: #FA4A0C; 
  --secondary-color: #252B42;
  --default-font-family: 'Montserrat', sans-serif;
  --heading-font-family: 'Poppins', sans-serif;
}

body {
  font-family: var(--default-font-family);
}
nav ul {
  margin: 50px 40px;
}
nav li {
  display: inline;
  margin-left: 94px;
  padding: 10px;
  list-style: none;
}
nav a {
  color: var(--secondary-color);
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 28px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
nav a:hover, nav li.active a {
  color: var(--branding-color);
}
nav .logo {
  margin: 25px 70px;
  padding: 0 20px;
  width: 200px;
}


.hero {
  color: #ffffff;
  text-align: center;
  background-image: url("../images/hero-background.png");
  background-repeat: no-repeat;
  background-size: 100% 620px;
  height: 620px;
}
.text-content {
  padding: 70px 0 50px;
}
.hero h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.hero h1 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  margin: 17px 0 27px;
}
.hero h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  margin: 0;
}
.hero .btn-box {
  margin-left: 120px;
}
.hero .btn-branding, .hero .btn-branding-outline {
  border-radius: 30px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  padding: 16px 58px;
  transition: all 150ms ease-in-out;
}
.hero .btn-branding {
  background: var(--branding-color);
  box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
  margin-right: 34px; 
}
.hero .btn-branding:hover {
  background: var(--branding-color);
  color: var(--secondary-color);
}
.hero .btn-branding-outline {
  border: 1px solid #FFFFFF;
}
.hero .btn-branding-outline:hover {
  border: 1px solid #FFFFFF;
  color: var(--branding-color);
} 
.hero .phone-image-1 {
  height: 725px;
  position: relative;
  top: 20px;
  right: 75px;
  z-index: 2;
}
.phone-image-2 {
  height: 530px;
  position: relative;
  left: 135px;
  bottom: 60px;
  margin-bottom: 70px;
  z-index: 1;
}



.container hr {
  border: 2px solid #bcbbbb;
  margin: 0 auto;
  width: 884px;
}
.container h2 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  font-size: 44px;
  line-height: 36px;
  text-align: center;
  margin-top: 72px;
}
.container .app-description {
  font-family: var(--default-font-family);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  color: var(--secondary-color);
}
.container h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: var(--branding-color);
}
.container p {
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: #737373;
}



.hero-end {
  color: #ffffff;
  text-align: center;
  font-family: var(--default-font-family);
  background-image: url("../images/hero-background-end.png");
  background-repeat: no-repeat;
  background-size: 100% 620px;
  height: 660px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-end h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  margin-bottom: 20px;
}
.hero-end h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 60px;
}
.hero-end .btn-branding,.hero-end .btn-branding-outline {
  border-radius: 10px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  transition: all 150ms ease-in-out;
}
.hero-end .btn-branding {
  background: var(--branding-color);
  box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
  padding: 18px 31px;
  margin-right: 10px;
}
.hero-end .btn-branding:hover {
  background: var(--branding-color);
  color: var(--secondary-color);
}
.hero-end .btn-branding-outline {
  border: 1px solid #FFFFFF;
  padding: 18px 51px;
}
.hero-end .btn-branding-outline:hover {
  border: 1px solid #FFFFFF;
  color: var(--branding-color);
}



footer {
  margin: 0 115px 53px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .logo {
  height: 100px;
  margin-left: 70px;
}
footer ul {
  display: flex;
}
footer li {
  list-style: none;
  color: var(--branding-color);
  font-size: 32px;
  margin: 30px;
}
footer small {
  font-family: 'Roboto';
  color: #5C5C5C;
  font-size: 12px;
  line-height: 18px;
  margin: 55px 45px;
}


@media (max-width: 1135px) {
  nav .logo {
    margin: 0;
  }
  nav ul {
    margin: 30px 20px;
  }
  nav li {
    margin: 0;
  }
  .hero .text-content {
    padding: 50px 0 30px;
  }
  .hero {
  background-size: 150% 420px;
  height: 420px;
  }
  .hero h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .hero h3, .hero h4 {
    font-size: 20px;
    line-height: 24px;
  }
  .hero .btn-box {
    margin: 0;
  }
  .hero .btn-branding, .hero .btn-branding-outline {
    font-size: 20px;
    line-height: 24px;
    padding: 13px 30px;
  }
  .hero .phone-image-1 {
    height: 600px;
  }
  .phone-image-2 {
    height: 430px;
    left: 98px;
    margin: 0;
  }


  .container hr {
    width: 500px;
  }
  .container h2 {
    font-size: 34px;
  }
  .container h3 {
    font-size: 24px;
    line-height: 40px;
  }
  .container h4 {
    font-size: 20px;
    line-height: 24px;
  }
  .container p {
    font-size: 20px;
    line-height: 24px;
  }


  .hero-end {
    height: 460px;
  }
  .hero-end h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .hero-end h4 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px ;
  }
  .hero-end .btn-branding {
    padding: 10px 31px;
  }
  .hero-end .btn-branding-outline {
    padding: 10px 41px;
  }
  

  footer {
    margin: 0;
    padding: 0 40px;
  }
  footer .logo {
    height: 80px;
    margin-left: 30px;
  }
  footer ul {
    margin: 0;
  }
  footer li {
    font-size: 22px;
  }
  footer small {
    line-height: 18px;
    margin: 35px 25px;
  }
}
